.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../../Assets/Images/background.jpg");
  background-size: cover;
  background-position: center;
}
.wrapperLogin {
  position: relative;
  background: #6a80c6;
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  color: #fff;
  display: flex;
  align-items: center;
}

.wrapperRegister {
  position: relative;
  background: #6a80c6;
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  color: #fff;
  display: flex;
  align-items: center;
}

.wrapperRegister2 {
  position: relative;
  height: 450px;
  background: #6a80c6;
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  color: #fff;
  display: flex;
  align-items: center;
}

.wrapperRegister .form-box,
.wrapperRegister2 .form-box,
.wrapperLogin .form-box {
  width: 100%;
  padding: 40px;
}

.wrapperRegister2 p {
  margin-top: 10px;
  color: #dddef8;
  margin-bottom: 23px;
}

form h3 {
  margin-bottom: 10px;
  color: #f0f1fc;
}

form h1 {
  font-size: 36px;
  text-align: center;
}

form .input-box {
  position: relative;
  width: 100;
  height: 50px;
  margin: 25px 0px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

/* input desin */

.input-box input:hover {
  border: 3px solid rgba(0, 21, 255, 0.537);
}

/*  */

.input-box input::placeholder {
  color: #fff;
}
.input-box .icons {
  position: absolute;
  right: 20px;
  top: 50%;
  translate: 0 -50%;
  font-size: 16px;
}
.register-link p a {
  position: relative;
  left: 17px;
}

form .remember-forget {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0px 15px;
}

.remember-forget label input {
  margin-right: 4px;
}

form button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
}

form button:hover {
  background-color: rgba(0, 21, 255, 0.537);
  color: #fff;
}

form .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
  color: blue;
}

.user_Admin {
  width: 100%;
  height: 100px;
  background: #ffffff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  margin-top: 24px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.B_icon {
  font-size: 35px;
}

p.err_msg {
  margin: -10px 0 0 0;
  font-size: 12px;
  color: red;
}
p.last_one{
  margin-bottom: 10px;
}